<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
  <div class="am-offcanvas-bar admin-offcanvas-bar am-margin-top">
    <ul class="am-list admin-sidebar-list">
      <li><a href="/"><span class="am-icon-home"></span> <%= t(:home) %></a></li>
      <li><a href="/users"><span class="am-icon-cog"></span> <%= t(:admin_manage) %> </a></li>
      <li><a href="/logout"><span class="am-icon-sign-out"></span> <%= t(:logout) %></a></li>
    </ul>
  </div>
</div>
